body {
  font-family: Arial, Helvetica, sans-serif;
}

nav {
  background-color: #1f2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  align-items: baseline;
  gap: 100px;
  margin: 0px;
  border: solid orange 5px;
}

ul {
  width: 800px;
  padding: 0px;
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin: 0px;
  border: solid lime 5px;
}

a {
  color: #F9FAF8;
  text-decoration: none;
}

h1 {
  color: #F9FAF8;
  font-size: 24px;
  margin: 0;
  width: 300px;
  border: solid turquoise 5px;
}

h2 {
  color: #F9FAF8;
  font-size: 48px;
  font-weight: bolder;
}

h2.story-header {
  margin: 0;
  text-align: center;
  font-size: 36px;
  color: #1f2937;
  border: solid gray 5px;
}

p.subtext {
  color: #E5E7EB;
}

button {
  border-style: none;
  padding: 8px;
  border-radius: 6px;
  font-weight: bold;
  background-color: #3882f6;
  color: #F9FAF8;
}

header {
  height: 400px;
  background-color: #1f2937;
  color: #F9FAF8;
  display: flex;
  justify-content: center;
  gap: 100px;
  border: solid red 5px;
}

.header-left {
  width: 300px;
  border: solid salmon 5px;
}

.header-right {
  display: block;
  width: 800px;
  border: solid tan 5px;
}

img.screenshot {
  height: auto;
  max-width: 100%;
  border: solid yellow 5px;
}

.story {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  border: solid blue 5px;
}

img.icon {
  width: 100px;
}

.panel {
  flex: 0;
  flex-direction: column;
  align-items: center;
  height: 175px;
  border: solid green 5px;
  text-align: center;
}

.quote {
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #E5E7EB;
  border: solid pink 5px;
}

h3 {
  width: 600px;
  font-size: 24px;
  font-weight: lighter;
  font-style: italic;
  color: #1f2937;
  margin: 50px 100px 0px 100px;
  border: solid aqua 5px;
}

h4 {
  width: 600px;
  text-align: end;
  margin: 0px 100px 50px 100px;
  border: solid purple 5px;
}

.call-to-action {
  display: flex;
  justify-content: center;
  padding: 50px 0px 50px 0px;
}

.action-box {
  background-color: #3882f6;
  height: auto;
  width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  border-radius: 12px;
  border: solid purple 5px;
}

.box-left {
  display: flex;
  flex-direction: column;
  
  color: #F9FAF8;
  border: solid crimson 5px;
}

h5 {
  margin: 25px 0px 0px 0px;
  font-size: 16px;
  border: solid lavender 5px;
}

p.call {
  margin: 0px 0px 25px 0px;
  font-size: 12px;
  border: solid lemonchiffon 5px;
}

button.action {
  border: solid #E5E7EB 2px;
}

footer {
  padding: 12px;
  text-align: center;
  font-size: 12px;
  background-color: #1f2937;
  color: #E5E7EB;
}